{{#unless loggedIn}}
  <a href='/login'>Login</a>
  <a> or </a>
  <a href='signup'>Signup</a>
  <a> to see more details and save your roles</a>
{{/unless}}

<form
  id='search_menu'
  class='border-black-100 m-4 flex w-80 rounded bg-blue-200 p-4'
>
  <p>Search by Location</p>
  <textarea id='location_input' placeholder='London'></textarea>
  <button
    type='submit'
    id='location_search'
    class='h-10 w-10 flex-shrink-0 rounded-full bg-green-400'
  >Search</button>
</form>

<div
  class='mt-12 grid grid-cols-1 gap-6 sm:grid-cols-2 sm:px-4 xl:mt-20 xl:grid-cols-4'
>
  {{#each data.results as |job|}}
    <div class='h-48 overflow-hidden rounded-md bg-slate-200'>
      <div class='px-5 py-6'>
        <div class='flex items-center justify-between'>
          <button
            type='click'
            class='job_card_button h-10 w-10 flex-shrink-0 rounded-full bg-green-400'
            data-job-id='{{job.id}}'
          >Star</button>
          <div class='ml-3 mr-auto min-w-0'>
            <a
              href='{{job.url}}'
              class='truncate text-base font-semibold text-black'
            >{{job.role}}</a>
            <p class='truncate text-sm text-gray-600'>{{job.company_name}}</p>
          </div>
        </div>
        <blockquote class='mt-5'>
          <p class='truncate text-base text-gray-800'>
            {{{job.text}}}
          </p>
        </blockquote>
      </div>
    </div>
  {{/each}}
</div>

<script src='./js/savejob.js'></script>
<script src='./js/savedjobs.js'></script>
<script src='./js/search.js'></script>